<div class="user-place">
  <div class="flex-row spaced">
    <div class="flex-cell img-cell">
      <div class="img-container">
        <a ng-href="/user/{{ userPlace.userId }}"><img ng-src="{{ userPlace.imgUrl }}"></a>
      </div>
    </div>
    <div class="flex-cell">
      <a class="username" ng-href="/user/{{ userPlace.userId }}">{{ userPlace.username }}</a>
      visited
      <span ng-repeat="place in userPlace.places track by $index"><span ng-if="$index > 0">, </span><a class="place-name" ng-href="/place/{{ place.placeId }}">{{ place.placeName }}</a></span>

      <div class="subtle">Marked on {{ userPlace.dateChecked | date:'MMMM d' }}</div>
    </div>
  </div>
</div>
