<div class="page__signup content-fill-height">

  <div class="flex-row wrap">
    <div class="flex-cell" id="sign-up-half">
      <div class="floating">
        <h1>Sign up</h1>
        It's free and it only takes 3.2 seconds
        <div class="box">
          <form name="signupForm">
            <div>
              <label>Username</label>
              <input type="text" ng-model="username" placeholder="johndoe" ng-pattern="usernamePattern">
            </div>
            <div class="gap">
              <label>Email</label>
              <input type="text" ng-model="email" placeholder="john@example.com" ng-pattern="emailPattern">
            </div>
            <div class="gap">
              <label>Password</label>
              <input type="password" ng-model="password">
            </div>
            <div class="gap">
              <div class="flex-row vertical-center">
                <div class="flex-cell">
                  <a ng-href="/signin?redirect={{ redirect }}">Already have an account?</a>
                </div>
                <div class="flex-cell fixed">
                  <button ng-click="signup()">Sign up</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="flex-cell" id="photo-half">

      <div class="flex-column">
        <div class="flex-cell">
          <div class="floating">
            <div class="title">
              <span class="kulana">kulana</span> means <span class="adventure">adventure</span>
            </div>

            <div class="subtitle">
              Wherever you go, whatever adventures you have, keep them with kulana
            </div>

            <div class="breathe bullets">
              <div class="bullet">
                <i class="material-icons">explore</i>
                <span>Discover new places</span>
              </div>
              <div class="bullet">
                <i class="material-icons">face</i>
                <span>Follow your friends</span>
              </div>
              <div class="bullet">
                <i class="material-icons">map</i>
                <span>Map your adventures</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-cell fixed logo-cell">
          <img src="/assets/logo-white.svg" title="Kulana">
        </div>
      </div>
    </div>
  </div>
</div>
