<div class="page__signup">

  <div class="hero">
    <div class="container">
      <div class="floating">
        <h1>Sign up</h1>
        It's free and it only takes 3.2 seconds
        <div class="box">
          <form name="signupForm">
            <div>
              <label>Username</label>
              <input type="text" ng-model="username" placeholder="johndoe" ng-pattern="usernamePattern">
            </div>
            <div class="gap">
              <label>Email</label>
              <input type="text" ng-model="email" placeholder="john@example.com" ng-pattern="emailPattern">
            </div>
            <div class="gap">
              <label>Password</label>
              <input type="password" ng-model="password">
            </div>
            <div class="gap text-right">
              <button ng-click="signup()">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
