<div class="flex-column list-page">
  <div class="flex-cell fixed list-info">
    <div class="flex-row spaced wrap">
      <div class="flex-cell fixed icon-cell">
        <img class="list-icon clickable" ng-src="{{ list.iconUrl }}">
      </div>
      <div class="flex-cell info-cell">
        <h1><a ng-href="/list/{{ list.id }}">{{ list.listName }}</a> for <a ng-href="/user/{{ user.id }}">{{ user.username }}</a></h1>
        <span class="subtle">
          Created by
          <a ng-href="/user/{{ list.creatorUserId }}" ng-hide="list.official">{{ list.username }}</a>
          <span ng-show="list.official" class="purple">kulana</span>
        </span>
        <div>{{ list.description }}</div>
      </div>
      <div class="flex-cell text-right share-cell" ng-show="list.id">
        <button ng-click="toggleShareableLink()" ng-hide="shareableLinkIsDisplayed"><i class="material-icons">link</i> <span>Share</span></button>
        <div ng-show="shareableLinkIsDisplayed" id="shareable-link-container">
          <div class="flex-row vertical-center mini-spaced">
            <div class="flex-cell"><label>Shareable link</label></div>
            <div class="flex-cell fixed"><i class="material-icons clickable" ng-click="toggleShareableLink()">close</i></div>
          </div>
          <div><input type="text" ng-value="getShareableLink()" id="shareable-link"></div>
        </div>
      </div>
      <div class="flex-cell subtle text-right action-cell">
        <button ng-click="followList()" ng-show="!list.isFollowed">Follow</button>
        <div ng-show="list.creatorUserId == signedInUser.id" class="gap">
          <a ng-href="/list/{{ list.id }}" class="button"><i class="material-icons">edit</i> <span>Edit</span></a>
        </div>
        <div class="gap">
          <span class="highlight">{{ list.numberOfFollowers }}</span>
          <span ng-show="list.numberOfFollowers == 1">follower</span>
          <span ng-show="list.numberOfFollowers != 1">followers</span>
        </div>
        <div ng-show="!list.isFollowed">Follow this list to make a copy of your own</div>
      </div>
    </div>
  </div>

  <div class="flex-cell content-fill-height">
    <div class="flex-row wrap mobile-wrap" id="map-and-list">
      <div class="flex-cell map-cell" id="list-map">
      </div>
      <div class="flex-cell list-cell">

        <div class="flex-column">
          <div class="flex-cell fixed">
            <div class="content">
              <div class="flex-row">
                <div class="flex-cell">
                  <h2>Places</h2>
                </div>
                <div class="flex-cell fixed subtle">
                  {{ list.places.length }}
                  <span ng-show="list.places.length == 1">place</span>
                  <span ng-show="list.places.length != 1">places</span>
                </div>
              </div>
              <div id="place-search">
                <input id="search-box" type="text" ng-model="placeFilter" placeholder="Filter places">
              </div>
            </div>
          </div>
          <div class="flex-cell" id="place-list">
            <div class="content">
              <ul ng-show="list.places.length">
                <li ng-repeat="place in list.places | filter:{placeName: placeFilter}" ng-class="{ 'highlighted': place.highlighted }" id="place_{{ place.id }}">
                  <div class="flex-row mini-spaced">
                    <div class="flex-cell fixed">
                      <input id="place_{{ place.id }}_checkbox" type="checkbox" ng-model="place.isChecked" ng-change="handleCheckboxClick(place)" disabled> <label for="place_{{ place.id }}_checkbox"></label>
                    </div>
                    <div class="flex-cell fixed" ng-if="place.placeImgUrl">
                      <img ng-src="{{ place.placeImgUrl }}">
                    </div>
                    <div class="flex-cell">
                      <span class="place-name" ng-click="highlightPlace(place)">{{ place.placeName }}</span>
                      <div class="subtle"><span class="purple">{{ place.placeType }}</span> near {{ place.region }}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
