<div class="flex-column list-page">
  <div class="flex-cell fixed list-info">
    <div class="flex-row">
      <div class="flex-cell">
        <h1>
          {{ list.listName }}
          <a ng-show="user.id == list.creatorUserId" ng-href="/list/{{ list.id }}/edit"><i class="material-icons">edit</i></a>
        </h1>
        <span class="subtle">
          Created by
          <a ng-href="/user/{{ list.creatorUserId }}" ng-hide="list.official">{{ list.username }}</a>
          <span ng-show="list.official" class="purple">kulana</span>
        </span>
      </div>
      <div class="flex-cell fixed subtle text-right">
        <span class="highlight">{{ list.numberOfFollowers }}</span>
        <span ng-show="list.numberOfFollowers == 1">follower</span>
        <span ng-show="list.numberOfFollowers != 1">followers</span>
        <div class="gap">
          <button ng-click="handleFollowChange()" ng-show="!list.isFollowed">Follow</button>
          <button ng-click="handleFollowChange()" class="cancel" ng-show="list.isFollowed">Unfollow</button>
        </div>
      </div>
    </div>
    <div>{{ list.description }}</div>
  </div>

  <div class="flex-cell content-fill-height">
    <div class="flex-row wrap mobile-wrap" id="map-and-list">
      <div class="flex-cell map-cell" id="list-map">
      </div>
      <div class="flex-cell list-cell">

        <div class="flex-column">
          <div class="flex-cell fixed">
            <div class="content">
              <div class="flex-row">
                <div class="flex-cell">
                  <h2>Places</h2>
                </div>
                <div class="flex-cell fixed subtle">
                  {{ list.places.length }}
                  <span ng-show="list.places.length == 1">place</span>
                  <span ng-show="list.places.length != 1">places</span>
                </div>
              </div>
              <div id="place-search">
                <input id="search-box" type="text" ng-model="placeFilter" placeholder="Filter places">
              </div>
            </div>
          </div>
          <div class="flex-cell" id="place-list">
            <div class="content">
              <ul ng-show="list.places.length">
                <li ng-repeat="place in list.places | filter:{placeName: placeFilter}" ng-class="{ 'highlighted': place.highlighted }" id="place_{{ place.id }}">
                  <div class="flex-row sm-spaced">
                    <div class="flex-cell">
                      <input id="place_{{ place.id }}_checkbox" type="checkbox" ng-model="place.isChecked" ng-change="handleCheckboxClick(place)"> <label for="place_{{ place.id }}_checkbox"></label>
                      <span class="place-name" ng-click="highlightPlace(place)">{{ place.placeName }}</span>
                      <div class="subtle"><span class="purple">{{ place.placeType }}</span> near {{ place.region }}</div>
                    </div>
                    <div class="flex-cell fixed" ng-show="place.creatorUserId == user.id">
                      <i class="material-icons clickable" ng-click="displayPlaceDialog(place)">edit</i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<place-dialog ng-show="placeDialogIsDisplayed" show="placeDialogIsDisplayed" center="centerCoords" place-id="placeToEditId" on-save="afterPlaceSave" on-cancel="closePlaceDialog"></place-dialog>
