<div class="flex-row new-list-page">
  <div class="flex-cell map-cell" id="list-map">

  </div>
  <div class="flex-cell list-cell">

    <div class="flex-column">
      <div class="flex-cell fixed">
        <div class="content">
          <h1>New List</h1>
          <div>A new list created by you</div>
        </div>
      </div>
      <div class="flex-cell">
        <section>
          <div class="content">
            <h3>Places <i class="material-icons" ng-click="showNewPlaceDialog()">add_circle</i></h3>

            <ul ng-show="places.length" class="places-list">
              <li ng-repeat="place in places">
                <div class="flex-row spaced">
                  <div class="flex-cell">{{ place.placeName }}</div>
                  <div class="flex-cell fixed place-type">{{ place.placeType }}</div>
                </div>
              </li>
            </ul>
          </div>

          <div class="content-horizontal" id="place-search">
            <div class="flex-row spaced vertical-center">
              <div class="flex-cell fixed">
                <i class="material-icons">search</i>
              </div>
              <div class="flex-cell search-box-cell">
                <input type="text" ng-model="placeSearch" ng-change="searchPlaces(placeSearch)">
              </div>
            </div>
            <div id="place-search-results" ng-show="placeSearch && placeSearchResults.length">
              <div class="place-search-result" ng-repeat="result in placeSearchResults" ng-click="handlePlaceResultClick(result)">
                {{ result.placeName }}
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="flex-cell fixed text-center">
        <div class="content">
          <button>Save</button>
          <button class="cancel">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>

<place-dialog ng-show="newPlaceDialogIsDisplayed" show="newPlaceDialogIsDisplayed" center="centerCoords" zoom="zoom" on-save="afterPlaceSave" on-cancel="closeNewPlaceDialog"></place-dialog>
