<div class="flex-row new-list-page">
  <div class="flex-cell map-cell" id="list-map">

  </div>
  <div class="flex-cell list-cell">

    <div class="flex-column">
      <div class="flex-cell fixed">
        <div class="content">
          <h1>{{ list.listName }}</h1>
          <div>{{ list.description }}</div>
        </div>
      </div>
      <div class="flex-cell place-list">
        <div class="content">
          <ul ng-show="list.places.length">
            <li ng-repeat="place in list.places">
              <input id="place_{{ place.id }}" type="checkbox" ng-model="place.isChecked" ng-change="handleCheckboxClick(place)"> <label for="place_{{ place.id }}"></label>
              {{ place.placeName }}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
