user-tile {
  div.user {
    margin: 0;
    padding: 10px 5px;
    border-top: 1px solid #bcbec0;
    .username {
      font-size: 16px;
      font-weight: 500;
      color: #45c5ff;
    }
    .flex-row > .flex-cell.img-cell {
      flex: 0 0 80px;
      .img-container {
        border-radius: 40px;
        width: 80px;
        height: 80px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
    &.sm {
      padding: 6px 3px;
      .username {
        font-size: 14px;
      }
      .flex-row > .flex-cell.img-cell {
        flex: 0 0 40px;
        .img-container {
          border-radius: 20px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  &:last-child {
    div.user {
      border-bottom: 1px solid #bcbec0;
    }
  }
}
