{
  "env": {
    "NODE_TLS_REJECT_UNAUTHORIZED": 0
  },

  "https": {
    "cert": "/Users/jacobjenne/.ssh/careerstep.crt",
    "key": "/Users/jacobjenne/.ssh/careerstep.key"
  },

  "server": {
    "hostname": "localhost",
    "port": 4001,
    "protocol": "http:"
  }
}
