page-header {
  header {
    height: 50px;
    background-color: $blue;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 7px 15px;

    input.search {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 20px;
      width: 200px;
      color: #fff;
      display: block;
      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    & > div.flex-row {
      height: 100%;
      img {
        height: 100%;
      }
      i.material-icons {
        font-size: 36px;
        position: relative;
        z-index: 11;
        &.menu-icon {
          color: #fff;
        }
        &.search-icon {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }

    nav.main-menu {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.3);
      padding-top: 50px;
      width: 0;
      opacity: 0;

      ul {
        background-color: #45c5ff;
        margin: 0;
        padding: 0;
        li {
          display: block;
          text-align: left;
          white-space: nowrap;
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          &:last-child {
            border-bottom: none;
          }
          a {
            padding: 10px 20px;
            color: #fff;
            display: block;
            font-size: 16px;
            &:hover {
              background-color: rgba(255, 255, 255, 0.08);
            }
          }
        }
      }
    }

    nav.main-menu.open {
      animation: slide-in 0.5s ease;
      animation-fill-mode: forwards;
      -webkit-animation: slide-in 0.5s ease;
      -webkit-animation-fill-mode: forwards;
    }

    nav.main-menu.closed {
      animation: slide-out 0.5s ease;
      animation-fill-mode: forwards;
      -webkit-animation: slide-out 0.5s ease;
      -webkit-animation-fill-mode: forwards;
    }

  }

  @keyframes slide-in {
    from { width: 0; opacity: 0; }
    to { width: 70%; opacity: 1; }
  }
  @keyframes slide-out {
    from { width: 70%; opacity: 1; }
    to { width: 0; opacity: 0; }
  }

}
