list-tile {
  div.list {
    margin: 0;
    padding: 10px 5px;
    border-top: 1px solid #bcbec0;
    .list-name {
      font-size: 16px;
      font-weight: 500;
      color: #45c5ff;
    }
    .list-description {

    }
  }
  &:last-child {
    div.list {
      border-bottom: 1px solid #bcbec0;
    }
  }
}
