<div class="page__signin content-fill-height">

  <div class="flex-row wrap">
    <div class="flex-cell" id="sign-in-half">
      <div class="floating">

        <div class="flex-row vertical-bottom">
          <div class="flex-cell">
            <h1>Sign in</h1>
          </div>
          <div class="flex-cell fixed">
            <a ng-href="/signup?redirect={{ redirect }}">New user?</a>
          </div>
        </div>
        <div class="box">
          <form name="signupForm">
            <div>
              <label>Username/Email</label>
              <input type="text" ng-model="username" placeholder="johndoe">
            </div>
            <div class="gap">
              <label>Password</label>
              <input type="password" ng-model="password">
            </div>
            <div class="breathe warning" ng-show="errorMessage">
              {{ errorMessage }}
            </div>
            <div class="gap text-right">
              <button ng-click="signin()">Sign in</button>
            </div>
          </form>
        </div>

      </div>
    </div>
    <div class="flex-cell" id="photo-half">

      <div class="flex-column">
        <div class="flex-cell">
          <div class="floating">
            <div class="title">
              <span class="kulana">kulana</span> means <span class="adventure">adventure</span>
            </div>

            <div class="subtitle">
              Wherever you go, whatever adventures you have, keep them with kulana
            </div>

            <div class="breathe bullets">
              <div class="bullet">
                <i class="material-icons">explore</i>
                <span>Discover new places</span>
              </div>
              <div class="bullet">
                <i class="material-icons">face</i>
                <span>Follow your friends</span>
              </div>
              <div class="bullet">
                <i class="material-icons">map</i>
                <span>Map your adventures</span>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-cell fixed logo-cell">
          <img src="/assets/logo-white.svg" title="Kulana">
        </div>
      </div>
    </div>
  </div>
</div>
