place-dialog {
  #place-dialog-map {
    height: 500px;
    width: 100%;
  }
  #geojson {
    height: 500px;
    width: 100%;
    textarea {
      height: 100%;
      font-family: monospace;
      tab-size: 2;
    }
  }
  input[type=file] {
    display: none;
  }
  .image-cell {
    text-align: center;
    font-size: 12px;
    .place-image {
      vertical-align: top;
      height: 112px;
      width: auto;
      cursor: pointer;
    }
    i.material-icons {
      vertical-align: top;
    }
  }
  h2 {
    input[type=text] {
      border: 1px solid #e0e0e0;
      padding: 5px;
      margin: 0;
      font-size: 21px;
    }
  }

  .tools {
    padding: 2px 0 8px 0;
    img {
      width: 30px;
      height: auto;
      cursor: pointer;
      padding: 3px;
      margin: 0 2px;
      border: 2px solid #e6e6e6;
      border-radius: 2px;
      &:hover {
        background-color: rgba(68, 186, 201, 0.2);
      }
      &.selected {
        border-color: $purple;
      }
    }
    #gm-input {
      padding: 4px 8px;
    }
  }
}
