place-dialog {
  #place-dialog-map {
    /* height: 60vh; */
    height: 500px;
    width: 100%;
  }

  h2 {
    input[type=text] {
      border: 1px solid #e0e0e0;
      padding: 5px;
      margin: 0;
      font-size: 21px;
    }
  }

  .tools {
    padding: 2px 0 8px 0;
    img {
      width: 25px;
      height: auto;
      cursor: pointer;
      padding: 3px;
      margin: 0 2px;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      &:hover {
        background-color: rgba(68, 186, 201, 0.2);
      }
    }
    #gm-input {
      padding: 4px 8px;
    }
  }
}
