{
  "aws": {
    "credentials": {
      "accessKeyId": "AKIAJXINWXNGG3LENWYQ",
      "secretAccessKey": "",
      "region": "us-west-2"
    },
    "s3": {
      "bucket": "kulana-dev",
      "host": "https://s3-us-west-2.amazonaws.com"
    }
  },

  "database": {
    "host": "parakeet",
    "user": "root",
    "password" : "Tortuga01",
    "database": "places",
    "driver": "mysql",
    "multipleStatements": true,
    "timezone": "UTC+0"
  },

  "https": {
    "cert": "/Users/jacobjenne/.ssh/careerstep.crt",
    "key": "/Users/jacobjenne/.ssh/careerstep.key"
  },

  "jwt": {
    "publicKey": "-----BEGIN PUBLIC KEY-----\nMIIBIDAQAB\n-----END PUBLIC KEY-----",
    "privateKey": "-----BEGIN RSA PRIVATE KEY-----\nMIIEpAd24zT+b/w==\n-----END RSA PRIVATE KEY-----"
  },

  "server": {
    "hostname": "parakeet",
    "port": 4002,
    "protocol": "https:"
  }

}
