.home-page {
  .list {
    margin: 10px 0;
    padding: 10px 0;
    .list-name {
      font-size: 16px;
      font-weight: 500;
      color: #45c5ff;
    }
    .list-number-of-places {
      color: #888;
    }
    .list-description {

    }
  }
}
