<div class="home-page">

  <div class="flex-row wrap">
    <div class="flex-cell main-cell">

      <section class="floating" ng-if="activities.length">
        <h1>Recent activity</h1>
        <div>
          <div ng-repeat="activity in activities">
            <user-place-tile ng-if="activity.activityType == 'userPlace'" user-place="activity"></user-place-tile>
            <user-list-tile ng-if="activity.activityType == 'userList'" user-list="activity"></user-list-tile>
          </div>
        </div>
      </section>

      <section ng-if="!activities.length" class="floating">
        <h1>Welcome to kulana</h1>
        Here are a few things to get you started mapping your adventures:
        <ul>
          <li><a href="/lists">Discover some popular lists</a></li>
          <li><a href="/list/new">Create a list of your own</a></li>
          <li><a href="/search">Search for members, lists or places</a></li>
        </ul>
      </section>

    </div>
    <div class="flex-cell sidebar-cell" ng-if="followedLists.length">

      <section ng-if="followedLists.length">
        <div class="flex-row vertical-bottom">
          <div class="flex-cell">
            <h1>Followed lists</h1>
          </div>
          <div class="flex-cell fixed subtle">
            {{ followedLists.length }}
            <span ng-if="followedLists.length == 1">list</span>
            <span ng-if="followedLists.length != 1">lists</span>
          </div>
        </div>

        <div>
          <list-tile ng-repeat="list in followedLists" list="list" user-id="user.id"></list-tile>
        </div>
      </section>

    </div>
  </div>
</div>
