.new-list-page {
  i.material-icons {
    font-size: 1.4em;
  }
  .list-info {
    padding: 30px;
    img.list-icon {
      height: 80px;
      width: auto;
      vertical-align: top;
    }
    div.edit-image {
      margin-top: 3px;
      i.material-icons {
        vertical-align: bottom;
        font-size: 1.4em;
      }
    }
  }
  h1 {
    i.material-icons {
      font-size: 0.8em;
    }
    input[type=text] {
      border: 1px solid #e0e0e0;
      padding: 5px;
      margin: 0;
      font-size: 21px;
    }
    button {
      margin: 0;
    }
  }
  textarea {
    border: 1px solid #e0e0e0;
    padding: 5px;
    margin: 3px 0 0 0;
  }

  .map-cell {
    background-color: #f0f0f0;
  }
  .list-cell {
    flex: 0 0 350px;
    background-color: #fff;
    padding: 0;

    .content {
      padding: 15px;
    }
    .content-horizontal {
      padding: 0 15px;
    }

    h3 {
      i.material-icons {
        vertical-align: middle;
        color: $blue;
        font-size: 1.5em;
        padding-bottom: 3px;
        cursor: pointer;
      }
    }

    #place-list {
      overflow-y: scroll;
      position: relative;
      i.material-icons {
        vertical-align: middle;
      }
      & > .content {
        padding-top: 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding: 10px 6px;
          font-size: 15px;
          border-top: 1px solid $blue;
          &:last-child {
            border-bottom: 1px solid $blue;
          }
          &.highlighted {
            background-color: #fffcd3;
          }
          .place-name {
            cursor: pointer;
          }
          .place-type {
            color: #888;
            font-size: 13px;
          }
          i.tools {
            color: #aaa;
            font-size: 1.25em;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }

  }

  #search-box {
    background-image: url(/assets/images/filter.svg);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: auto 19px;
    padding-left: 30px;
  }

  #save-buttons {
    background-color: $brand_color;
    color: #fff;
  }

}
