<div class="flex-row new-list-page">
  <div class="flex-cell map-cell" id="list-map">
  </div>
  <div class="flex-cell list-cell">

    <div class="flex-column">
      <div class="flex-cell fixed">
        <div class="content">
          <h1><input type="text" ng-model="list.listName" placeholder="New List"></h1>
          <div><textarea ng-model="list.description" placeholder="Write a description"></textarea></div>
          <div class="gap">
            <div class="flex-row">
              <div class="flex-cell">
                <img class="list-icon clickable" ng-src="{{ list.iconUrl }}" ng-click="chooseIcon()">
                <i class="material-icons clickable" ng-click="chooseIcon()">edit</i>
              </div>
              <div class="flex-cell text-right" ng-if="user.userType == 'admin'">
                <input type="checkbox" id="official_list_checkbox" ng-model="list.official"> <label for="official_list_checkbox">Admin list</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-cell fixed">
        <div class="content">
          <div class="flex-row">
            <div class="flex-cell">
              <h3>Places <i class="material-icons" ng-click="showNewPlaceDialog()">add_circle</i></h3>
            </div>
            <div class="flex-cell fixed subtle">
              {{ list.places.length }}
              <span ng-show="list.places.length == 1">place</span>
              <span ng-show="list.places.length != 1">places</span>
            </div>
          </div>
          <div id="place-search">
            <input id="search-box" type="text" ng-model="placeFilter" placeholder="Filter places">
          </div>
        </div>
      </div>
      <div class="flex-cell" id="place-list">
        <div class="content">
          <ul ng-show="list.places.length">
            <li ng-repeat="place in list.places | filter:{placeName: placeFilter}" ng-class="{ 'highlighted': place.highlighted }" id="place_{{ place.id }}">
              <div class="flex-row mini-spaced vertical-center">
                <div class="flex-cell">
                  {{ place.placeName }}
                  <div class="subtle">{{ place.region }}</div>
                </div>
                <div class="flex-cell fixed" ng-show="place.creatorUserId == user.id"><i class="material-icons tools clickable" ng-click="editPlace(place)">edit</i></div>
                <div class="flex-cell fixed"><i class="material-icons tools" ng-click="removePlace(place)">close</i></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-cell fixed text-center" id="save-buttons">
        <div class="content">
          <div ng-hide="isSaving">
            <button class="inverse" ng-click="saveList()">Save</button>
            <button class="cancel inverse" ng-click="cancelList()">Cancel</button>
            <div class="warning" ng-show="saveError">{{ saveError }}</div>
          </div>
          <wait-indicator color="white" ng-show="isSaving"></wait-indicator>
        </div>
      </div>
    </div>

  </div>
</div>

<place-dialog ng-show="newPlaceDialogIsDisplayed" show="newPlaceDialogIsDisplayed" center="centerCoords" zoom="zoom" place-id="placeToEditId" on-save="afterPlaceSave" on-cancel="closeNewPlaceDialog"></place-dialog>
<icon-dialog ng-show="iconDialogIsDisplayed" selected-icon-id="list.iconId" show="iconDialogIsDisplayed" on-save="updateIcon" on-cancel="closeIconDialog"></icon-dialog>
