<div class="home-page">
  <div class="content">

    <section ng-show="followedLists.length">
      <div class="flex-row vertical-bottom">
        <div class="flex-cell">
          <h1>Followed lists</h1>
        </div>
        <div class="flex-cell fixed subtle">
          {{ followedLists.length }}
          <span ng-show="followedLists.length == 1">list</span>
          <span ng-show="followedLists.length != 1">lists</span>
        </div>
      </div>

      <div>
        <list-tile ng-repeat="list in followedLists" list="list"></list-tile>
      </div>
    </section>


    <section ng-show="completedLists.length">
      <div class="flex-row vertical-bottom">
        <div class="flex-cell">
          <h1>Completed lists</h1>
        </div>
        <div class="flex-cell fixed subtle">
          {{ completedLists.length }}
          <span ng-show="completedLists.length == 1">list</span>
          <span ng-show="completedLists.length != 1">lists</span>
        </div>
      </div>

      <div>
        <list-tile ng-repeat="list in createdLists" list="list"></list-tile>
      </div>
    </section>

    <section ng-show="followedLists.length && followedLists.length < 3" class="subtle text-right">
      <a href="/lists">Find some other lists to follow</a>.</i>
    </section>

    <section ng-show="!followedLists.length" class="subtle text-right">
      You haven't followed any lists yet. <a href="/lists">Browse some popular ones</a>.
    </section>

  </div>
</div>
