<div class="dashboard-page content">
  <h1>Dashboard</h1>

  <div class="text-lg">
    <div><span class="purple">{{ totalUsers }}</span> users</div>
    <div><span class="purple">{{ totalLists }}</span> lists</div>
    <div><span class="purple">{{ totalPlaces }}</span> places</div>
  </div>

  <section class="space">
    <h2>Recent users</h2>
    <user-tile ng-repeat="user in recentUsers" user="user" size="sm"></user-tile>
  </section>

  <section class="space">
    <h2>Recent lists</h2>
    <list-tile ng-repeat="list in recentLists" list="list" size="sm"></list-tile>
  </section>

  <section class="space">
    <h2>Recent places</h2>
    <place-tile ng-repeat="place in recentPlaces" place="place" size="sm"></place-tile>
  </section>

</div>
