<div class="flex-column place-page">
  <div class="flex-cell fixed place-info">
    <div class="flex-row">
      <div class="flex-cell">
        <h1>
          {{ place.placeName }}
          <span ng-show="user.id == place.creatorUserId" ng-click="displayPlaceDialog(place)"><i class="material-icons clickable">edit</i></span>
        </h1>
        <span class="subtle">{{ place.region }}</span>
      </div>
      <div class="flex-cell fixed subtle text-right">
        <span class="highlight">{{ place.numberOfVisitors }}</span>
        <span ng-show="place.numberOfVisitors == 1">visitor</span>
        <span ng-show="place.numberOfVisitors != 1">visitors</span>
      </div>
    </div>
  </div>

  <div class="flex-cell content-fill-height">
    <div class="flex-row wrap mobile-wrap" id="map-and-list">
      <div class="flex-cell map-cell" id="list-map">
      </div>
      <div class="flex-cell list-cell">

        <div class="flex-column">
          <div class="flex-cell fixed">
            <div class="content">
              <h2>Lists containing this place</h2>
            </div>
          </div>
          <div class="flex-cell" id="place-list">
            <div class="content">
              <list-tile ng-repeat="list in lists" list="list" editable></list-tile>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<place-dialog ng-show="placeDialogIsDisplayed" show="placeDialogIsDisplayed" center="placeCenter" place-id="place.id" on-save="afterPlaceSave" on-cancel="closePlaceDialog"></place-dialog>
