place-tile {
  div.place {
    margin: 0;
    padding: 10px 5px;
    border-top: 1px solid #bcbec0;
    .place-name {
      font-size: 16px;
      font-weight: 500;
      color: #45c5ff;
    }
  }
  &:last-child {
    div.place {
      border-bottom: 1px solid #bcbec0;
    }
  }
}
