<div class="place">
  <div class="flex-row spaced">
    <div class="flex-cell">
      <a class="place-name" ng-href="/place/{{ place.id }}">{{ place.placeName }}</a>
      <div class="subtle"><span class="purple">{{ place.placeType }}</span> near {{ place.region }}</div>
      <div>
        <span ng-if="place.numberOfLists">
          Appears on <span class="highlight">{{ place.numberOfLists }}
            <span ng-show="place.numberOfLists == 1">list</span>
            <span ng-show="place.numberOfLists != 1">lists</span></span>.
        </span>
        <span ng-if="place.numberOfVisitors">
          Visted by <span class="highlight">{{ place.numberOfVisitors }}
            <span ng-show="place.numberOfVisitors == 1">member</span>
            <span ng-show="place.numberOfVisitors != 1">members</span></span>.
        </span>
      </div>
    </div>
    <div class="flex-cell fixed subtle" ng-show="place.distance !== undefined">
      {{ place.distance.toFixed(1) }} mi
    </div>
    <div class="flex-cell fixed" ng-show="place.creatorUserId == $root.user.id">
      <i class="material-icons clickable" ng-click="editPlace()">edit</i>
    </div>
  </div>
</div>
